@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>

    #tblemployeeLogin th {        
        text-align : center;
        color:black;
    }

    #tblemployeeLogin tr {        
        text-align: center;
    }

    #tblemployeeLogin textarea {
        width: 100%;
        resize: none;
        height: 40px;
    }

    .btnlogin {
        border-radius: 4px;
        text-align: center;
        background-color: orangered;
        font-size: 24px;
        border-color:orangered;
        color:white;
    }

</style>
<script type="text/javascript">
    function employeeLogin()
    {
        var adEntId = $("#empId").val();
        var password = $("#password").val();
        if ((adEntId !== undefined && adEntId !== "") && (password !== undefined && password !== "")) {
            var url = '@Url.Action("EmployeeSearch", "Employee", new { employeeAdEntId = "adEntId"})';
            window.location.href = url.replace('adEntId', adEntId);
        } else { alert("LoginId/Password is incorrect!"); }
    }
</script>
<html>
<body>
    <br />
    <div id="mainContent">
        <div>
            <table class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding-left:10px;">
                <tr>
                    <td class="col-xs-3 col-sm-3 col-md-2 col-lg-3">
                    </td>
                    <td class="col-xs-7 col-sm-7 col-md-7 col-lg-7">

                        <p></p>
                        <table id="tblemployeeLogin">
                            <thead>
                                <tr>
                                    <th colspan="2" style="width:500px;"><h2><b>Employee Login</></b></h2></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="text-align: left; padding: 10px;"><label><b>User Name :</b></label></td>
                                    <td><textarea class="form-control" id="empId"></textarea></td>
                                </tr>
                                <tr>
                                    <td style="text-align:left; padding:10px;"><label><b>Password :</b></label></td>
                                    <td><input type="password" class="form-control" id="password"/></td>
                                </tr>
                                <tr>                                   
                                    <td colspan="2">
                                        <br />
                                        @*@Html.ActionLink("Login", "EmployeeSearch", "Employee",, new {@class = "btnlogin" })*@
                                        <button type="button" class="btnlogin" onclick="employeeLogin();">Login</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <br />
    <br />
    <br />
</body>
</html>